
  .Navbar {
    background-color: #ffffff;
    border-top: 3px solid #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    box-shadow: 2px 5px 13px 0px #0000001a;
    top: 0;
    z-index: 20;
    margin-bottom: 20px;
  }
  
  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
    height: 80px;
    max-width: 1500px;
    padding: 10px;
  }
  
  
  .navLogo {
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  
  .navLinks {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
 
  
  .navItem {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .navItem:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  /* .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  } */
  
  /* .nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  } */
  
  .navIcon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
   

    .Navbar {
        position: sticky;

    }
  
    /* .nav-item .active {
      color: #ffdd40;
      border: none;
    } */
    .navLinks {
      padding: 1.5rem;
      width: 100%;
      display: table;
      color: #fff;
    }
  
    .navIcon {
      display: block;
      position: absolute;
      top: -5px;
      left: 50px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #000;
    }

    .navContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      max-width: 1500px;
    }

    .navLogo {
      flex-grow: unset;
    }

    .search {
      position: absolute;
      right: 20px;
    }
    
  }
  
  