.Card {
    margin-bottom: 20px;
}

.Card imghover {
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 12px -1px rgb(7 10 25 / 20%), 0 22px 27px -20px rgb(7 10 25 / 20%);
    transition: all .3s ease;
}

.Card img:hover {
    opacity: 1;
    box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
    -webkit-filter: brightness(1.07);
    filter: brightness(1.07);
    transform: translate(0, -2px);
}