.loadBtn {
    padding: 16px 50px;
    border: 0;
    display: block;
    margin: 40px auto;
    background: #f6f6f6;
    color: #000;
    box-shadow: 0 2px 3px rgb(110 110 110 / 25%);
    font-size: 12px;
    font-weight: 700;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1;
}

.loadBtn:hover {
    background: #000000;
    color: rgb(255, 255, 255);
}